.grade-level-container, .grade-level-img {
  width: 300px;
}

.grade-level-container {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.grade-level-container:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.grade-level-container {
  text-align: center;
  margin: auto;

}

.grade-level-name {
  font-size: 20px;
  width: 300px;
  padding: 10px 0;
}
